# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# JWT
JWT_SECRET=

# CORS
CORS_ALLOWED_ORIGINS=https://explora-mapa.eu

# Mail (Brevo SMTP relay)
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# App
APP_BASE_URL=https://explora-mapa.eu

# Postal SMTP relay
POSTAL_SMTP_RELAYS=
